@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
body {
  background-color: #e5e5e5;
}
/* 메인 */
.mainSwiper {
  overflow: hidden;
  width: 375px;
  height: 812px;
  margin: 0 auto;
}
.mainSwiper .swiper-wrapper {
  display: flex;
}
main {
  width: 375px;
  height: 812px;
  background-color: #eeece5;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  position: relative;
}
main .status-bar {
  background-image: url("../img/status-bar.png");
  background-size: cover;
  width: 375px;
  height: 44px;
  margin-bottom: 12px;
}
/* header */
header {
  width: 327px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

header .user-img {
  width: 43px;
  height: 43px;
}

header .account-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
header .icons {
  display: flex;
}
header .icons .QR-icon {
  width: 24px;
  height: 24px;
  background-image: url("../img/qr.png");
  background-size: contain;
  margin-right: 18px;
}
header .icons .search-icon {
  width: 24px;
  height: 24px;
  background-image: url("../img/search.png");
  background-size: contain;
}

/* 계정 박스 */

section .account-info {
  width: 279px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin: 33px 0 24px 48px;
}
section .account-info .account-num {
  display: flex;
  align-items: center;
  margin-top: 14px;
}
section .account-info .account-num p {
  color: #858585;
  letter-spacing: -0.24px;
  margin: 0 0 0 50px;
}
section .account-info .account-num a {
  margin-left: 27.5px;
}
section .account-balance {
  display: flex;
  align-items: baseline;
  letter-spacing: 2px;
}
section .account-balance p {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: 16px 0;
}
section .mini-chart {
  display: flex;
  align-items: center;
}
section .mini-chart .chart-img {
  width: 202px;
  height: 17px;
}
section .mini-chart .chart-icon {
  background-image: url("../img/chart-icon.png");
  background-size: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 5px;
}
section .balance-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #858585;
  margin: 8px 0 6px 0;
}
section .ad {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 21px 53px;
}
section .ad a {
  margin-left: 6px;
}

/* 사용내역 박스 */

.account-history {
  width: 375px;
  /* 수정 */
  /* height: 376px; */
  background: #f5f5f5;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0px 0px;
  box-sizing: border-box;
  position: relative;
  top: 0;
  padding: 5px 37px 0 30px;
  transition: 0.4s ease-in;
}
.account-history.active {
  top: -245px;
  position: relative;
  overflow: hidden;
}
.account-history .up-btn {
  margin: 0 auto;
  background-image: url("../img/up-button.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 3.57px;
  padding: 8px;
}

/* 저금통 */
.account-history .swiper {
  overflow: hidden;
}
.account-history .save-list {
  width: 500px;
  height: 47px;
  display: flex;
  margin: 12px 0 12px 0;
}

.account-history .save-item {
  width: 162px;
  height: 47px;
  border-radius: 6px;
  padding: 5px 24px 7px 13px;
  box-sizing: border-box;
  margin-right: 13px;
}
.account-history .save-item p {
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.account-history .save-list .first:nth-child(1) {
  background: linear-gradient(
    90deg,
    rgba(255, 95, 0, 1) 62%,
    rgba(218, 218, 218, 1) 62%
  );
}
.account-history .save-list .first:nth-child(2) {
  background: linear-gradient(90deg, #feb700 87%, rgba(218, 218, 218, 1) 87%);
}
.account-history .save-list .second:nth-child(1) {
  background: linear-gradient(90deg, #55acee 92%, rgba(218, 218, 218, 1) 92%);
}
.account-history .save-list .second:nth-child(2) {
  background: linear-gradient(90deg, #005f59 56%, rgba(218, 218, 218, 1) 56%);
}
.account-history .save-list .third:nth-child(1) {
  background: linear-gradient(90deg, #0a73c3 92%, rgba(218, 218, 218, 1) 92%);
}
.account-history .save-list .third:nth-child(2) {
  background: linear-gradient(90deg, #eeba00 56%, rgba(218, 218, 218, 1) 56%);
}

.account-history .save-list .plus-saving {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.account-history .save-list .plus-saving p {
  font-size: 12px;
  line-height: 2px;
  color: #ff5f00;
  margin-left: 6px;
}

/* 사용내역 */

.recent {
  overflow-y: scroll;
  height: 280px;
  transition: 0.4s ease-in;
}
.recent.active {
  height: 525px;
}
.recent::-webkit-scrollbar {
  display: none;
}

.recent .recent-item-wrapper {
  margin-bottom: 38px;
}
.recent .recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20.72px;
  padding: 16px 0 8px 0;
}
.recent .recent-header .recent-date {
  font-weight: bold;
  margin: 0;
}
.recent .recent-header .total-expense {
  color: #b4b4b4;
  margin: 0;
}

.recent .recent-list .recent-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 7px;
  margin-bottom: 8px;
  border-bottom: 1px solid #dcdcdc;
}
.recent .recent-list .item {
  font-weight: 400;
}
.recent .recent-list .price {
  font-weight: 300;
}
.recent .recent-list .price.plus {
  color: #ff5f00;
}

/* 네브 */

nav {
  position: fixed;
  bottom: 0;
  width: 375px;
  height: 76px;
  background-color: #00bdb2;
  padding: 0 32px 0 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

nav .home {
  background-image: url("../img/home.png");
  width: 28px;
  height: 28px;
}
nav .send {
  background-image: url("../img/send.png");
  width: 30px;
  height: 23.44px;
}
nav .message {
  background-image: url("../img/message.png");
  width: 24px;
  height: 24px;
}
nav .more {
  background-image: url("../img/more.png");
  width: 28px;
  height: 28px;
}
